{% extends 'shop/shop_base.html' %}
{% block title %}
    商品详情
{% endblock %}
{% block content %}
    <!-- MAIN -->
    <main class="site-main">
        <div class="container">
            <ol class="breadcrumb-page">
                <li><a href="/shop/shop_userinfo/">个人中心</a></li>
                <li class="active"><a href="#">商品详情</a></li>
            </ol>
        </div>
        <div class="container">
            <div class="product-content-single">
                <div class="row">
                    <div class="col-md-6 col-sm-12 padding-right">
                        <div class="product-media">
                            <div class="image-preview-container image-thick-box image_preview_container">
                                <img id="img_zoom" data-zoom-image="assets/images/detail/thick-box-1.jpg"
                                     src="{{ shop.img }}" alt="" height="500px">
                                <a href="#" class="btn-zoom open_qv"><i class="fa fa-search" aria-hidden="true"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-12">
                        <div class="product-info-main">
                            <div class="product-name"><a href="#">{{ shop.name }}</a></div>
                            <span class="star-rating">

                                    <i class="fa fa-star" aria-hidden="true"></i>

                                    <i class="fa fa-star" aria-hidden="true"></i>

                                    <i class="fa fa-star" aria-hidden="true"></i>

                                    <i class="fa fa-star" aria-hidden="true"></i>

                                    <i class="fa fa-star" aria-hidden="true"></i>

                                    <span class="review">{{ shop.grade }}</span>

                                </span>
                            <div class="product-info-stock-sku">
                                <div class="stock available">
                                    <span class="label-stock">库存290件</span>
                                </div>
                            </div>
                            <div class="product-infomation">
                                <span class="label-stock">品牌:</span>{{ shop.brand }}
                            </div>
                            <div class="product-info-price">
                                <span class="price">

                                    <ins id="price">{{ shop.price }}</ins>
                                    <ins id="total"></ins>

                                </span>
                                <div class="quantity">
                                    <h6 class="quantity-title">数量:</h6>
                                    <div class="buttons-added">
                                        <input type="text" value="1" title="Qty" class="input-text qty text" size="1" id="number">
                                        <a href="#" class="sign plus" ><i class="fa fa-plus"></i></a>
                                        <a href="#" class="sign minus" ><i class="fa fa-minus"></i></a>
                                    </div>
                                </div>
                                <div class="single-add-to-cart">
                                    <a href="#" class="btn-add-to-cart" onclick="addcart({{ shop.id }})">加入购物车</a>
                                    <a href="#" class="btn-add-to-cart">立即购买</a>
                                    <a href="#" class="compare"><i class="flaticon-refresh-square-arrows"></i>对比</a>
                                    <a href="#" class="wishlist"><i class="fa fa-heart-o" aria-hidden="true"></i>喜欢</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="tab-details-product">
                <ul class="box-tab nav-tab">
                    <li class="active"><a data-toggle="tab" href="#tab-1">商品描述</a></li>
{#                    <li><a data-toggle="tab" href="#tab-2">Addtional Infomation</a></li>#}
{#                    <li><a data-toggle="tab" href="#tab-3">Reviews</a></li>#}
                </ul>
                <div class="tab-container">
                    <div id="tab-1" class="tab-panel active">
                        <div class="box-content">
                            <p><img src="{{ img1 }}" alt=""></p>
                            <p><img src="{{ img2 }}" alt=""></p>
                            <p><img src="{{ img3 }}" alt=""></p>
                            <p><img src="{{ img4 }}" alt=""></p>
                        </div>
                    </div>
                    <div id="tab-2" class="tab-panel">
                        <div class="box-content">
                            <p>ipsum dolor sit amet, consectetur adipiscing elit. Vivamus non nulla ullamcorper,
                                interdum dolor vel, dictum justo. Vivamus finibus lorem id auctor
                                placerat. Ut fermentum nulla lectus, in laoreet metus ultrices ac. Integer eleifend urna
                                ultricies enim facilisis, vel fermentum eros porta.
                            </p>
                            <span>Weights & Dimensions</span>
                            <div class="parameter">
                                <p>Overall: 40" H x 35.5" L x 35.5" W</p>
                                <p>Bar height:40"</p>
                                <p>Overall Product Weight: 88 lbs</p>
                            </div>
                        </div>
                    </div>
                    <div id="tab-3" class="tab-panel">
                        <div class="box-content">
                            <form method="post" action="#" class="new-review-form">
                                <a href="#" class="form-title">Write a review</a>
                                <div class="form-content">
                                    <p class="form-row form-row-wide">
                                        <label>Name</label>
                                        <input type="text" value="" name="text" placeholder="Enter your name"
                                               class="input-text">
                                    </p>
                                    <p class="form-row form-row-wide">
                                        <label>Email</label>
                                        <input type="text" name="text" placeholder="admin@example.com"
                                               class="input-text">
                                    </p>
                                    <p class="form-row form-row-wide">
                                        <label>Review Title<span class="required">*</span></label>
                                        <input type="email" name="email" placeholder="Give your review a title"
                                               class="input-text">
                                    </p>
                                    <p class="form-row form-row-wide">
                                        <label>Body of Review (1500)</label>
                                        <textarea aria-invalid="false" class="textarea-control" rows="5" cols="40"
                                                  name="message"></textarea>
                                    </p>
                                    <p class="form-row">
                                        <input type="submit" value="Submit Review" name="Submit" class="button-submit">
                                    </p>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="block-recent-view">
            <div class="container">
                <div class="title-of-section">你可能感兴趣的:</div>
                <div class="owl-carousel nav-style2 border-background equal-container" data-nav="true"
                     data-autoplay="false" data-dots="false" data-loop="true" data-margin="30"
                     data-responsive='{"0":{"items":1},"480":{"items":2},"768":{"items":3},"992":{"items":4},"1200":{"items":4}}'>
                    <div class="product-item style1">
                        <div class="product-inner equal-elem">
                            <div class="product-thumb">
                                <div class="thumb-inner">
                                    <a href="/shop/shop_detail/{{ interested_shop1.id }}"><img src="{{ interested_shop1.img }}" alt="r1"></a>
                                </div>
                                <span class="onsale">-50%</span>
                                <a href="#" class="quick-view">查看详情</a>
                            </div>
                            <div class="product-innfo">
                                <div class="product-name"><a href="/shop/shop_detail/{{ interested_shop1.id }}">{{ interested_shop1.name }}</a></div>
                                <span class="price">

                                        <ins>{{ interested_shop1.price }}</ins>

                                    </span>
                                <span class="star-rating">

                                        <i class="fa fa-star" aria-hidden="true"></i>

                                        <i class="fa fa-star" aria-hidden="true"></i>

                                        <i class="fa fa-star" aria-hidden="true"></i>

                                        <i class="fa fa-star" aria-hidden="true"></i>

                                        <i class="fa fa-star" aria-hidden="true"></i>

                                        <span class="review">{{ interested_shop1.grade }}</span>

                                    </span>
                                <div class="group-btn-hover style2">
                                    <a href="#" class="add-to-cart"><i class="fa fa-shopping-bag" aria-hidden="true"></i></a>
                                    <a href="#" class="compare"><i class="flaticon-refresh-square-arrows"></i></a>
                                    <a href="#" class="wishlist"><i class="fa fa-heart-o" aria-hidden="true"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="product-item style1">
                        <div class="product-inner equal-elem">
                            <div class="product-thumb">
                                <div class="thumb-inner">
                                    <a href="/shop/shop_detail/{{ interested_shop2.id }}"><img src="{{ interested_shop2.img }}" alt="r2"></a>
                                </div>
                                <span class="onnew">new</span>
                                <a href="#" class="quick-view">查看详情</a>
                            </div>
                            <div class="product-innfo">
                                <div class="product-name"><a href="/shop/shop_detail/{{ interested_shop2.id }}">{{ interested_shop2.name }}</a></div>
                                <span class="price price-dark">

                                        <ins>{{ interested_shop2.price }}</ins>

                                    </span>
                                <span class="star-rating">

                                        <i class="fa fa-star" aria-hidden="true"></i>

                                        <i class="fa fa-star" aria-hidden="true"></i>

                                        <i class="fa fa-star" aria-hidden="true"></i>

                                        <i class="fa fa-star" aria-hidden="true"></i>

                                        <i class="fa fa-star" aria-hidden="true"></i>

                                        <span class="review">{{ interested_shop2.grade }}</span>

                                    </span>
                                <div class="group-btn-hover style2">
                                    <a href="#" class="add-to-cart"><i class="fa fa-shopping-bag" aria-hidden="true"></i></a>
                                    <a href="#" class="compare"><i class="flaticon-refresh-square-arrows"></i></a>
                                    <a href="#" class="wishlist"><i class="fa fa-heart-o" aria-hidden="true"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="product-item style1">
                        <div class="product-inner equal-elem">
                            <div class="product-thumb">
                                <div class="thumb-inner">
                                    <a href="/shop/shop_detail/{{ interested_shop3.id }}"><img src="{{ interested_shop3.img }}" alt="r3"></a>
                                </div>
                                <a href="#" class="quick-view">查看详情</a>
                            </div>
                            <div class="product-innfo">
                                <div class="product-name"><a href="/shop/shop_detail/{{ interested_shop3.id }}">{{ interested_shop3.name }}</a></div>
                                <span class="price price-dark">

                                        <ins>{{ interested_shop4.price }}</ins>

                                    </span>
                                <span class="star-rating">

                                        <i class="fa fa-star" aria-hidden="true"></i>

                                        <i class="fa fa-star" aria-hidden="true"></i>

                                        <i class="fa fa-star" aria-hidden="true"></i>

                                        <i class="fa fa-star" aria-hidden="true"></i>

                                        <i class="fa fa-star" aria-hidden="true"></i>

                                        <span class="review">{{ interested_shop3.grade }}</span>

                                    </span>
                                <div class="group-btn-hover style2">
                                    <a href="#" class="add-to-cart"><i class="fa fa-shopping-bag" aria-hidden="true"></i></a>
                                    <a href="#" class="compare"><i class="flaticon-refresh-square-arrows"></i></a>
                                    <a href="#" class="wishlist"><i class="fa fa-heart-o" aria-hidden="true"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="product-item style1">
                        <div class="product-inner equal-elem">
                            <div class="product-thumb">
                                <div class="thumb-inner">
                                    <a href="/shop/shop_detail/{{ interested_shop4.id }}"><img src="{{ interested_shop4.img }}" alt="r4"></a>
                                </div>
                                <a href="#" class="quick-view">查看详情</a>
                            </div>
                            <div class="product-innfo">
                                <div class="product-name"><a href="/shop/shop_detail/{{ interested_shop4.id }}">{{ interested_shop4.name }}</a></div>
                                <span class="price price-dark">

                                        <ins>{{ interested_shop4.price }}</ins>

                                    </span>
                                <span class="star-rating">

                                        <i class="fa fa-star" aria-hidden="true"></i>

                                        <i class="fa fa-star" aria-hidden="true"></i>

                                        <i class="fa fa-star" aria-hidden="true"></i>

                                        <i class="fa fa-star" aria-hidden="true"></i>

                                        <i class="fa fa-star" aria-hidden="true"></i>

                                        <span class="review">{{ interested_shop4.grade }}</span>

                                    </span>
                                <div class="group-btn-hover style2">
                                    <a href="#" class="add-to-cart"><i class="fa fa-shopping-bag" aria-hidden="true"></i></a>
                                    <a href="#" class="compare"><i class="flaticon-refresh-square-arrows"></i></a>
                                    <a href="#" class="wishlist"><i class="fa fa-heart-o" aria-hidden="true"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="product-item style1">
                        <div class="product-inner equal-elem">
                            <div class="product-thumb">
                                <div class="thumb-inner">
                                    <a href="#"><img src="assets/images/home1/r5.jpg" alt="r5"></a>
                                </div>
                                <span class="onsale">-50%</span>
                                <a href="#" class="quick-view">Quick View</a>
                            </div>
                            <div class="product-innfo">
                                <div class="product-name"><a href="#">Parka With a Hood</a></div>
                                <span class="price">

                                        <ins>$229.00</ins>

                                        <del>$259.00</del>

                                    </span>
                                <span class="star-rating">

                                        <i class="fa fa-star" aria-hidden="true"></i>

                                        <i class="fa fa-star" aria-hidden="true"></i>

                                        <i class="fa fa-star" aria-hidden="true"></i>

                                        <i class="fa fa-star" aria-hidden="true"></i>

                                        <i class="fa fa-star" aria-hidden="true"></i>

                                        <span class="review">5 Review(s)</span>

                                    </span>
                                <div class="group-btn-hover style2">
                                    <a href="#" class="add-to-cart"><i class="fa fa-shopping-bag" aria-hidden="true"></i></a>
                                    <a href="#" class="compare"><i class="flaticon-refresh-square-arrows"></i></a>
                                    <a href="#" class="wishlist"><i class="fa fa-heart-o" aria-hidden="true"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="product-item style1">
                        <div class="product-inner equal-elem">
                            <div class="product-thumb">
                                <div class="thumb-inner">
                                    <a href="#"><img src="assets/images/home1/r6.jpg" alt="r6"></a>
                                </div>
                                <a href="#" class="quick-view">Quick View</a>
                            </div>
                            <div class="product-innfo">
                                <div class="product-name"><a href="#">Elite-X Sport Seats</a></div>
                                <span class="price price-dark">

                                        <ins>$229.00</ins>

                                    </span>
                                <span class="star-rating">

                                        <i class="fa fa-star" aria-hidden="true"></i>

                                        <i class="fa fa-star" aria-hidden="true"></i>

                                        <i class="fa fa-star" aria-hidden="true"></i>

                                        <i class="fa fa-star" aria-hidden="true"></i>

                                        <i class="fa fa-star" aria-hidden="true"></i>

                                        <span class="review">5 Review(s)</span>

                                    </span>
                                <div class="group-btn-hover style2">
                                    <a href="#" class="add-to-cart"><i class="fa fa-shopping-bag" aria-hidden="true"></i></a>
                                    <a href="#" class="compare"><i class="flaticon-refresh-square-arrows"></i></a>
                                    <a href="#" class="wishlist"><i class="fa fa-heart-o" aria-hidden="true"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main><!-- end MAIN -->
{% endblock %}
{% block js %}
    <script>
        {#function add() {#}
        {#    value = parseInt($("#numebr").val());#}
        {#    price = parseFloat($("#price")).text();#}
        {#    value = value + 1;#}
        {#    $("#number").val(value);#}
        {#    total = value*price;#}
        {#    $("#price").text(total)#}
        {#};#}
        {#function down() {#}
        {#    value = parseInt($("#number").val());#}
        {#    price = parseFloat($("#price")).text();#}
        {#    if (value>1){#}
        {#        value = value - 1;#}
        {#        $("#number").val(value)#}
        {#    } else{#}
        {#        $("#number").val(1)#}
        {#    }#}
        {#    total = value*price;#}
        {#    $("#total").text(total)#}
        {#}#}
                $.ajaxSetup({
                data: {csrfmiddlewaretoken: '{{ csrf_token }}'},
            });
        function addcart(shopid){
            var data = {'shopid':shopid,'shopnums':1};
            $.ajax(
                {
                    url: '/shop/add_cart_wish/',
                    type: 'POST',
                    data: data,

                    success:function (res) {
                        if(res.status=='600'){
                            alert(res['msg'])
                            console.log(res)
                            refresh();
                        }
                        else if(res.status=='603'){
                            alert(res['msg'])
                        }
                        else if(res.status=='602'){
                            window.location.href='/shop/shop_login/'
                        }
                        else {
                            alert('操作有误');
                            window.location.reload();
                        }

                    },
                    error:function (err) {
                        console.log(err)
                    }
                }
            )
        }

    </script>
{% endblock %}
