{% extends 'shop/shop_base.html' %}
{% block title %}
购物车
{% endblock %}

{% block content %}
    <!-- MAIN -->
    <main class="site-main shopping-cart">
        <div class="container">
            <ol class="breadcrumb-page">
                <li><a href="/">首页 </a></li>
                <li class="active">购物车</li>
            </ol>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-9">
                    <form class="form-cart" method="post">
                        {% csrf_token %}
                        <div class="table-cart">
                            <table class="table">
                                <thead>
                                <tr>
                                    <th class="tb-image"></th>
                                    <th class="tb-product">商品名称</th>
                                    <th class="tb-price">商品单价</th>
                                    <th class="tb-qty">商品数量</th>
                                    <th class="tb-total">单品总价</th>
                                    <th class="tb-remove"></th>
                                </tr>
                                </thead>
                                <tbody>

                                {% for shop in data_list%}

                                <tr>
                                    <td class="tb-image"><a href="#" class="item-photo"><img
                                            src="{{ shop.img}}"
                                            alt="cart"></a></td>
                                    <td class="tb-product">
                                        <div class="product-name"><a href="#">{{ shop.name }}</a></div>
                                    </td>
                                    <td class="tb-price">
                                        <span class="price">{{ shop.price }}元</span>
                                    </td>
                                    <td class="tb-qty">
                                        <div class="quantity">
                                            <div class="buttons-added">
                                                <input type="text" name="shopsnums" value="{{ shop.shops_num }}" title="Qty" class="input-text qty text"
                                                       id="cal_shops" size="1">
                                                <a href="javascript:void(0);" class="sign plus" id="upnum" onclick="changetotal()"><i class="fa fa-plus"></i></a>
                                                <a href="javascript:void(0);" class="sign minus" id="downnum" onclick="changetotal()"><i class="fa fa-minus"></i></a>
                                            </div>
                                        </div>
                                    </td>
                                    <td class="tb-total">
                                        <span class="price">{{ shop.price }} <span>元</span> </span>
                                    </td>
                                    <td class="tb-remove">
                                        <a href="javascript:void(0);" class="action-remove" onclick="del_cart_shops(this)"><span sid="{{ shop.id }}" hidden="hidden"></span><span><i class="fa fa-times"
                                                                                  aria-hidden="true"></i></span></a>
                                    </td>
                                </tr>

                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        <div class="cart-actions">
                            <a href="/shop/shop_list/p/1/"><button type="button" class="btn-continue">
                                <span>继续选购</span>
                            </button></a>
                            <a href="/shop/clear_cart/"><button type="button" class="btn-update">
                                <span>清空购物车</span>
                            </button></a>
                            <button type="submit" class="btn-update">
                                <span>提交订单</span>
                            </button>
                        </div>
                    </form>
                </div>
                <div class="col-md-3">
                    <div class="order-summary">
                        <h4 class="title-shopping-cart">订单摘要</h4>
                        <div class="checkout-element-content">
                            <span class="order-left">小计: <span>{{ total_price }} <span>元</span> </span></span>
                            <span class="order-left">运费:<span>免费送货</span></span>
                            <span class="order-left">总计:<span>{{ total_price }} <span>元</span> </span></span>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="block-recent-view">
            <div class="container">
                <div class="title-of-section">你可能对这些感兴趣</div>
                <div class="owl-carousel nav-style2 border-background equal-container" data-nav="true"
                     data-autoplay="false" data-dots="false" data-loop="true" data-margin="0"
                     data-responsive='{"0":{"items":1},"480":{"items":2},"768":{"items":3},"992":{"items":4},"1200":{"items":5}}'>

                    <div class="product-item style1">
                        <div class="product-inner equal-elem">
                            <div class="product-thumb">
                                <div class="thumb-inner">
                                    <a href="#"><img src="" alt="r1"></a>
                                </div>
                                <span class="onsale">-50%</span>
                                <a href="#" class="quick-view">Quick View</a>
                            </div>
                            <div class="product-innfo">
                                <div class="product-name"><a href="#">GM Original Equipment</a></div>
                                <span class="price">

                                        <ins>$229.00</ins>

                                        <del>$259.00</del>

                                    </span>
                                <span class="star-rating">

                                        <i class="fa fa-star" aria-hidden="true"></i>

                                        <i class="fa fa-star" aria-hidden="true"></i>

                                        <i class="fa fa-star" aria-hidden="true"></i>

                                        <i class="fa fa-star" aria-hidden="true"></i>

                                        <i class="fa fa-star" aria-hidden="true"></i>

                                        <span class="review">5 Review(s)</span>

                                    </span>
                                <div class="group-btn-hover style2">
                                    <a href="#" class="add-to-cart"><i class="fa fa-shopping-bag" aria-hidden="true"></i></a>
                                    <a href="#" class="compare"><i class="flaticon-refresh-square-arrows"></i></a>
                                    <a href="#" class="wishlist"><i class="fa fa-heart-o" aria-hidden="true"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </main><!-- end MAIN -->

{% endblock %}
