{% extends 'shop/shop_base.html' %}
{% block title%}

{% endblock %}
{% block css %}
<script type="text/javascript" src="http://cdn.bootcss.com/vue/2.2.2/vue.min.js"></script>
{% endblock %}

{% block content %}

    <!-- MAIN -->
    <main class="site-main blog-single">
        <div class="container">
            <ol class="breadcrumb-page">
                <li><a href="#">主页 </a></li>
                <li class="active"><a href="#">汽配之家新闻</a></li>
            </ol>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-9 col-sm-8 float-none float-right">
                    <div class="main-content">
                        <div class="post-detail">
                            <div class="post-item" id="postsnewsapi">
                                <div class="post-thumb">
                                    <img v-bind:src="'https://'+site.news_art_img" alt="post-image">
                                    <span class="date" > <span>来自</span><span v-text="site.news_time_str"></span></span>
                                </div>
                                <div class="post-item-info">
                                    <h3 class="post-name"><a href="#"><span v-text="site.news_title"></span></a></h3>
                                    <div class="post-metas">
                                         <span>时间: </span><span class="author"><span v-text="site.news_art_time"></span></span>
                                        <span >阅读</span><span class="comment" v-text="site.news_read_num"><i class="fa fa-comment" aria-hidden="true"></i></span>
                                    </div>
                                    <div class="post-content">
                                        <p v-text="site.news_art_content"></p>

                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="post-comments">
                            <div class="block-title">评论</div>
                            <div>
                                {% for com in comment_list %}
                                <p>
                                    <span class="col-lg-3"> {{ com.user_name }}</span>
                                    <span class="col-lg-6">{{ com.art_comment }}</span>
                                    <span class="col-lg-3">{{ com.art_comment_time }}</span>
                                    <br>
                                </p>
                                {% endfor %}
                            </div>
                            <br><br>
                            <div class="block-content">
                                    <div class="form-group">
                                        <label class="title">您的评论</label>
                                        <textarea style="resize:none;"  class="form-control" id="forContent" rows="9" placeholder="请在此处输入评论内容..."></textarea>
                                    </div>
                                    <button type="submit" onclick="commit_c()" class="btn-comment">提交评论</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-4">
                    <div class="sidebar-left">
                        <div class="block-search-blog">
                            <form class="searchform">
                                <div class="control">
                                    <input type="text" placeholder="请输入搜索条件" name="text"
                                           class="input-subscribe">
                                    <button type="submit" class="btn-searchform"><i class="fa fa-search"
                                                                                    aria-hidden="true"></i></button>
                                </div>
                            </form>
                        </div>
                        <div class="block-recent-post-blog">
                            <div class="block-title">最近快讯</div>
                            <ul>
                                {% for i in news_nearly %}
                                <li class="recent-post-item"><a href="#"><span style="font-size: 10px">{{ i.news_abstract }}</span></a></li>
                                {% endfor %}
                            </ul>
                        </div>


                    </div>
                </div>
            </div>
        </div>
    </main><!-- end MAIN -->


{% endblock %}

{% block js %}
    <script>
     $.ajaxSetup({
    data: {csrfmiddlewaretoken: '{{ csrf_token }}' },
});
    var FLAGCOMMENT = 0;
        new Vue({
        el: '#postsnewsapi',
        data: {
            site: {}
    },
    created:function () {
        var part =/id=(\d+)/;
        var url_get = window.location.href;
        var id = url_get.match(part)[1];
        var self = this;
        $.ajax(
            {
                url:'/news/newsapi/',
                type:'GET',
                data:{
                    'format': 'json',
                    'id': id,
                },
                dataType:"json",
                timeout:'2000',
            }
        ).then(function (res) {
            self.site = res['newsdata'];
        }).fail(function () {
                console.log('失败');
            })
    }
    });
        $('#forContent').focus(function () {
            $.ajax(
                {
                    url: '/news/verify_login/',
                    type:'GET',
                    data:'',
                    success:function (data) {
                        if(data.code == '404'){
                            alert(data.msg)
                            window.location.href = '/shop/shop_login/'
                        }
                        else {
                            FLAGCOMMENT = 1;
                        }
                    }
                }
            )
        })
    function commit_c() {
        var comment = $('#forContent').val();
        var part =/id=(\d+)/;
        var url_get = window.location.href;
        var id = url_get.match(part)[1];
        if(comment<10){
            alert('评论字数不能少于10个字！')
        }
        else {

            $.ajax(
                {
                    url: '/news/news_single/',
                    type: 'POST',
                    data: {
                        'data': comment,
                        'id': id
                    },
                    success:function (data) {
                        if(data.code == '200'){
                            alert(data.msg)
                            window.location.reload()
                        }
                        else if(data.code == '500') {
                            alert(data.msg)
                        }
                    },
                    error: function (err) {
                        alert('提交失败，请重新提交！')
                    }
                }
            )
        }
    }

    </script>
{% endblock %}

